<div class="parallax-container">
  <div class="parallax"> <%= image_tag("dubrovnik.jpg", :alt => "rss feed") %>
  </div>
   <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
 	<div class="container center white-text">
      <h1>German</h1>
      <h3>Austria || Germany</h3>
    </div>
</div>