<div class="parallax-container">
  <div class="parallax"> 
	<%= image_tag("brazil.jpg", :alt => "rss feed") %>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
 	<div class="container center white-text">
      <h1>Portuguese</h1>
      <h3>Brazil</h3>
    </div>
</div>

<div class="container">

  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("usp.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universidade de São Paulo <i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.usp.br/internationaloffice/en/index.php/admissions/undergraduate/exchange-student">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> USP <i class="material-icons right">close</i></span>
          <p>Location: São Paulo, Brazil</p>
          <p>Tuition: free </p>
          <p>Enrollment: 57,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("ufrgs.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Universidade Federal Rio Grande do Sul<i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.ufrgs.br/relinter/english/applying-to-ufrgs">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">UFRGS<i class="material-icons right">close</i></span>
          <p>Location: Porto Alegre, Brazil</p>
          <p>Tuition: free </p>
          <p>Enrollment: 30,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("unicamp.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universidade Estadual de Campinas <i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.unicamp.br/unicamp/international-relations-international-office/foreign-student-guide?language=en">Visit site (section 1.2)</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> UNICAMP <i class="material-icons right">close</i></span>
          <p>Location: Campinas, Brazil </p>
          <p>Tuition: free </p>
          <p>Enrollment: 40,000 </p>
        </div>
      </div>
    </div>
  </div>
</div>